@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: url("./../Images/Home/homeorg.jpg");
    background-size: cover;
    background-attachment: fixed;
    
   }

.home h1{
    font-size: 200px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
    color: white;
}
.home h3{
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: -120px;
}
.Buttons{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(25rem,0fr));
      gap:-10rem;
      margin-left: 40px;
      
}
.Buttons button{
    font-family: 'Poppins', sans-serif;;
    font-weight: 20px;
    font-size: 35px;
    background-color: darkred;
    color:white;
    border: 0px;
    border-radius: 10px;
    width: 200px;
    align-items: center;
    border: .1rem white solid;
    margin-left: 420px;
}
.Buttons button:hover{
    color:black;
    background-color: white;
}
