@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.aboutmain h1{
    font-size: 45px;
    color:white;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 50PX;
    font-family: 'Poppins', sans-serif;
}
.aboutmain p{
    color: white;
    text-align: center;
    font-size: 20PX;
    
}
.icons{
    display: grid;
    grid-template-columns: auto auto auto auto; 
    gap:-1000px;
    padding-top: 10px;
    padding-left: 180px;
    
}
.icons1{
    height: 17rem;
    width:20rem;
    background-color: white;
    border-radius: 5%;
    
}
.icons2{
    height: 17rem;
    width:20rem;
    background-color:white;
    border-radius: 5%;
}
.icons3{
    height: 17rem;
    width:20rem;
    background-color: white;
    border-radius: 5%;
}
.icons a p{
    color: black;
    text-align: center;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}
.icons1 img{
    height: 12rem;
    width:20rem;
}
.icons2 img{
    height: 12rem;
    width:20rem;
}
.icons3 img{
    height: 12rem;
    width:20rem;
}