@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.navbar{
   background: linear-gradient(to left,#28282B,black,#28282B);
   color: #ffffff;
   height: 180px;
   
}
.navidiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name img{
  margin-top: 16px;
  margin-left: 70px;
    width:140px;
    height:140px ;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #1f201f, 0 0 10px 2px #575957, 0 0 10px 2px #eef0ee;

}
.navidiv li {
    
    list-style: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin-right: 25px;
    border: none;
    margin-bottom: 25px;
    margin-top: 50px;
    
    
}
.navidiv li a{
    color: white;
    padding: 4px 8px ;
}

.btn {
    font-size:25px;
    font-weight: 600;
    background-color:#154633;
    padding:24px 24px 24px 32px;
    display:flex;
    align-items:center;
    border-radius:99px;
    position:relative;
    transition: all .5s cubic-bezier(.77,0,.175,1);
    
    .text{
      color:#fff;
      line-height:1;
      position:relative;
      z-index:5;
      margin-right:25px;
      padding-left: 20px;
    }
    
    svg{
      display:inline-block;
      position:relative;
      z-index:5;
      transform: rotate(0deg) translateX(0);
      transform-origin: left;
      transition: all .5s cubic-bezier(.77,0,.175,1);
      margin-right: 17px;
    }
    
    &::before{
      content:'';
      background-color:#36454F;
      width:32px;
      height:32px;
      display:block;
      position:absolute;
      z-index:1;
      border-radius:99px;
      top:50%;
      right:16px;
      transform:translateY(-50%);
      transition: all .5s cubic-bezier(.77,0,.175,1);
      padding-left:-100px ;
      
    }
    
    &.light{
      background-color: black;
      
      &::before{
        background-color: #28282B;
      }
      
    }
  }
  
  .btn:hover{
    
    svg{
      transform: rotate(45deg) translateX(-8px);
    }
    
    &::before{
      content:'';
      width:100%;
      height:100%;
      right:0;
    }
  }
  
